{% extends 'KyoushuMediaBundle:TvShows:base.html.twig' %}

{% import 'KyoushuMediaBundle:Macros:embed.html.twig' as embed %}

{% block tv_shows_content %}
    
    <a href="#" data-dropdown="show-first-char" class="button dropdown">{{ current_first_character ? current_first_character : 'All Shows' }}</a><br>
    <ul id="show-first-char" data-dropdown-content class="f-dropdown">
            <li>
                <a href="{{ path('kyoushu_media_tvshows') }}">All Shows</a>
            </li>    
        {% for first_character in first_characters %}
            <li>
                <a href="{{ path('kyoushu_media_tvshows', {'tvShowNameFirstChar': first_character}) }}">{{ first_character }}</a>
            </li>    
        {% endfor %}
    </ul>
            
    <div class="row tv-shows-list">
        {% for show in shows %}
            <div class="small-6 medium-4 large-3 columns{{ loop.last ? ' end' }}">
                <a href="{{ path('kyoushu_media_tvshow', {'tvShowSlug': show.slug}) }}">
                    {{ embed.image(show.posterWebPath, 3, null, 'posters') }}
                    <div class="tv-shows-list--name">
                        <div class="tv-shows-list--name-inner">
                            <div>{{ show.name }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}