{% extends 'KyoushuMediaBundle:Default:base.html.twig' %}

{% block stylesheets %}
    
    {{ parent() }}
    
    {% if show.fanArtWebPath %}
        <style>
            body{
                background-image: url({{ show.fanArtWebPath|apply_filter('light_background') }});
            }
        </style>
    {% endif %}
    
{% endblock %}

{% block content %}
    
    {% block tv_show %}
        
        {% block tv_show_header %}
    
            <h2>TV Shows <small>{{ show.name }}</small></h2>

            {% block tv_show_breadcrumbs %}
                <ul class="breadcrumbs">
                    <li><a href="{{ path('kyoushu_media_homepage') }}">Home</a></li>
                    <li><a href="{{ path('kyoushu_media_tvshows') }}">TV Shows</a></li>
                    <li><a href="{{ path('kyoushu_media_tvshow', {'tvShowSlug': show.slug}) }}">{{ show.name }}</a></li>
                    {% block tv_show_breadcrumbs_extra %}{% endblock %}
                </ul>
            {% endblock %}

        {% endblock %}
        
        {% block tv_show_content %}
        {% endblock %}
        
    {% endblock %}
    
{% endblock %}