{% import 'KyoushuMediaBundle:Macros:meta.html.twig' as meta -%}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        {% block head %}
            
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {%- block meta_title -%}
                    {{ meta.title() }}
                {%- endblock -%}
            </title>
            
            {% block head_stylesheets %}
                
                {#"http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600"#}

                {% stylesheets
                    "../vendor/components/normalize.css/normalize.css"
                    "@KyoushuMediaBundle/Resources/scss/app.scss"
                    filter="scssphp,?yui_css"
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
                
            {% endblock %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
            {% block header_nav %}
                {% include 'KyoushuMediaBundle:Default:header_nav.html.twig' %}
            {% endblock header_nav %}
            
            {% block flash_messages %}
                
                {% set flash_notices = app.session.flashbag.get('notice') %}
                    
                {% if flash_notices|length > 0 %}
                    <div class="row">
                        <div class="large-12 columns">
                            {% for flash_message in flash_notices %}
                                <div data-alert class="alert-box success">
                                    {{ flash_message }}
                                    <a href="#" class="close">&times;</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
            {% endblock flash_messages %}
            
            <div class="row">
                <div class="large-12 columns">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
            
            {% block body_javascripts %}
        
                {% javascripts
                    'bundles/fosjsrouting/js/router.js'
                    '../vendor/components/modernizr/modernizr.js'
                    '../vendor/components/jquery/jquery.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.interchange.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.topbar.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.alert.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.slider.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.dropdown.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.reveal.js'
                    '@KyoushuMediaBundle/Resources/js/form.js'
                    '@KyoushuMediaBundle/Resources/js/video_controls.js'
                    filter="?yui_js"
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                
                <script>$(document).foundation();</script>
                
            {% endblock %}
            
        {% endblock %}
    </body>
</html>