<div class="row">
    <div class="large-12 columns">

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">
                            Portal Name
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="{{ path('kyoushu_media_homepage') }}">Home</a></li>
                    <li><a href="{{ path('kyoushu_media_tvshows') }}">TV Shows</a></li>
                    <li><a href="{{ path('kyoushu_media_admin') }}">Admin</a></li>
                    
                    {% if app.user %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}
                </ul>

                {#<ul class="right">
                    <li class="search">
                        <form>
                            <input type="search">
                        </form>
                    </li>

                    <li class="has-button">
                        <a class="small button" href="#">Search</a>
                    </li>
                </ul>#}
                
            </section>
        </nav>

    </div>
</div>