{% macro attributes(attrs) -%}
    {%- for key, value in attrs %}{{ not loop.first ? ' ' }}{{ key }}="{{ value }}"{%- endfor -%}
{%- endmacro %}

{% macro pufferfish_attr(path, filter_prefix) -%}
{% spaceless %}
    
    {% if filter_prefix is null or filter_prefix is empty %}
        {% set filter_prefix = 'thumb' %}
    {% endif %}
    
    {% set widths = [100, 325, 550, 775, 1000] %}
        
    {% set pufferfish_attrs = [] %}

    {% for width in widths %}

        {% set prev_width = (not loop.first ? widths[loop.index0 - 1] : null ) %}

        {% set filter = filter_prefix ~ '_' ~ width %}
        {% set pufferfish_attrs = pufferfish_attrs|merge([
            '[' ~ path|apply_filter(filter) ~', (' ~
                (loop.first ? 'max-width: ' ~ width) ~
                (not loop.first ? 'min-width: ' ~ (prev_width + 1)) ~
                (not loop.first and not loop.last ? ', ') ~
                (not loop.last ? 'max-width: ' ~ width) ~
            ')]'
        ]) %}
    {% endfor %}
        
    {{ pufferfish_attrs|join(', ') }}
    
{% endspaceless %}
{%- endmacro %}

{% macro image(path, attrs, filter_prefix) %}
    {%- spaceless %}
        {% if path is not empty and path is not null %}
            
            {% set default_attrs = {
                'data-pufferfish': _self.pufferfish_attr(path, filter_prefix)
            } %}

            {% if attrs is empty %}
                {% set attrs = {} %}
            {% endif %}

            {% set attrs = default_attrs|merge(attrs) %}

            <img {{ _self.attributes(attrs) }} />
            
        {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro video(path, attrs) %}
    {%- spaceless %}
    
        {% if attrs is empty %}
            {% set attrs = {} %}
        {% endif %}

        {% set default_attrs = {
            'id': 'video-' ~ (random(8999) + 1000),
            'src': path,
            'width': '100%',
        } %}

        {% set attrs = default_attrs|merge(attrs) %}

        <div data-video-player class="video-player">
            <div class="row video-video">
                <div class="large-12 columns">
                    <div class="flex-video">
                        <video {{ _self.attributes(attrs) }} /></video>
                    </div>
                </div>
            </div>
            <div class="row video-controls" data-video-controls="{{ attrs.id }}">
                <div class="small-5 medium-4 large-3 columns">
                    
                    <ul class="small-block-grid-3">
                        <li>
                            <a data-video-control-play href="#" class="button">
                                <i class="fa fa-play"></i>
                            </a>
                        </li>
                        <li>
                            <a data-video-control-pause href="#" class="button disabled">
                                <i class="fa fa-pause"></i>
                            </a>
                        </li>
                        <li>
                            <a data-video-control-fullscreen href="#" class="button disabled">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </li>
                    </ul>
                    
                </div>
                <div class="small-7 medium-6 large-7 columns">
                    <div class="range-slider" data-slider="0" data-video-control-seek>
                        <span class="range-slider-handle" style="display: none;"></span>
                        <span class="range-slider-active-segment"></span>
                    </div>
                </div>
                <div class="hide-for-small medium-2 large-2 columns text-center">
                    <div class="button disabled" data-video-control-time>0:00</div>
                </div>
            </div>
        </div>
        
        
        
    {% endspaceless -%}
{% endmacro %}
    
{% macro media(media, attrs) %}
    {%- spaceless %}
    
        {% if attrs is empty %}
            {% set attrs = {} %}
        {% endif %}
            
        {% if media.screencapWebPath is not empty %}
            {% set poster_path = media.screencapWebPath %}
        {% elseif media.category == 'tv' and media.tvShow.fanArtWebPath is not empty %}
            {% set poster_path = media.tvShow.fanArtWebPath %}
        {% endif %}
        
        {% set default_attrs = {
            'id': 'media-video-' ~ media.id,
            'data-media-id': media.id,
            'data-pufferfish': _self.pufferfish_attr(poster_path),
            'data-pufferfish-src-attr': 'poster'
        } %}
    
        {% set attrs = default_attrs|merge(attrs) %}
    
        {{ _self.video(media.webPath, attrs) }}
        
    {% endspaceless -%}
{% endmacro %}